$brand-color-1: var(--brand-color-1);
$brand-color-1--light: var(--brand-color-1--light);
$brand-color-1--light: var(--brand-color-1--dark);
$brand-color-1--shade: var(--brand-color-1--shade);

$brand-color-2: var(--brand-color-2);
$brand-color-2--light: var(--brand-color-2--light);
$brand-color-2--dark: var(--brand-color-2--dark);;
$brand-color-2--shade: var(--brand-color-2--shade);

$brand-color-3: var(--brand-color-3);
$brand-color-3--light: var(--brand-color-3--light);
$brand-color-3--dark: var(--brand-color-3--dark);;
$brand-color-3--shade: var(--brand-color-3--shade);

$brand-color-4: var(--brand-color-4);
$brand-color-4--light: var(--brand-color-4--light);
$brand-color-4--dark: var(--brand-color-4--dark);;
$brand-color-4--shade: var(--brand-color-4--shade);

$bg-col-1: var(--bg-color-1);
$bg-col-1--shade: var(--bg-color-1--shade);
$bg-col-2: var(--bg-color-2);
$bg-col-2--shade: var(--bg-color-2--shade);
$bg-col-3: var(--bg-color-3);
$bg-col-3--shade: var(--bg-color-3--shade);

$bg-col-1-text-col: var(--bg-color-1--font-color);
$bg-col-2-text-col: var(--bg-color-2--font-color);
$bg-col-3-text-col: var(--bg-color-3--font-color);

$bg-col-1-link-col: var(--bg-color-1--link-color);
$bg-col-2-link-col: var(--bg-color-2--link-color);
$bg-col-3-link-col: var(--bg-color-3--link-color);

// $button-primary--bg-col: var(--primary-button--bg);
// $button-primary--bg-col--hover: var(--primary-button--bg--hover);
// $button-primary--border-col: var(--primary-button--border);
// $button-primary--border-col--hover: var(--primary-button--border--hover);
// $button-primary--text-col: var(--primary-button--text-color);

// $button-secondary--bg-col: var(--secondary-button--bg);
// $button-secondary--bg-col--hover: var(--secondary-button--bg--hover);
// $button-secondary--border-col: var(--secondary-button--border);
// $button-secondary--border-col--hover: var(--secondary-button--border--hover);
// $button-secondary--text-col: var(--secondary-button--text-color);

// $button-tertiary--bg-col: var(--tertiary-button--bg);
// $button-tertiary--bg-col--hover: var(--tertiary-button--bg--hover);
// $button-tertiary--border-col: var(--tertiary-button--border);
// $button-tertiary--border-col--hover: var(--tertiary-button--border--hover);
// $button-tertiary--text-col: var(--tertiary-button--text-color);

$border-color: $brand-color-1;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #4169e1; //royalblue
$color__link-visited: #800080; //purple
$color__link-hover: #191970; //midnightblue
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
