// stylelint-disable value-keyword-case
$font__main: var(--font-family--body);
$font__headings: var(--font-family--headings);
// stylelint-enable value-keyword-case
$font__code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;


$font-size-rel__base: 1rem;

$font-size-rel__h1: $font-size-rel__base * 2;
$font-size-rel__h2: $font-size-rel__base * 1.5;
$font-size-rel__h3: $font-size-rel__base * 1.125;
$font-size-rel__h4: $font-size-rel__base;
$font-size-rel__h5: $font-size-rel__base * 0.875;

$font-size-rel__small: $font-size-rel__h5;
$font-size-rel__large: $font-size-rel__h3;

$text-color--bright: white;
$text-color--dark: black;