.logo-list {
    &__image {
        display: flex;
        align-items: center;
        justify-content: center;
        grid-column: span 6;

        @include from('small') {
            grid-column: span 4;
        }

        @include from('medium') {
            grid-column: span 3;
        }
    }
}