.alignleft {

	/*rtl:ignore*/
	float: left;

	/*rtl:ignore*/
	margin-right: 1.5em;
	margin-bottom: 1.5em;
}

.alignright {

	/*rtl:ignore*/
	float: right;

	/*rtl:ignore*/
	margin-left: 1.5em;
	margin-bottom: 1.5em;
}

.aligncenter {
	clear: both;

	@include center-block;

	margin-bottom: 1.5em;
}

$columnGap: $indent__base;

ul.grid {
	padding-left: 0;
	margin-left: 0;
}

.grid {
	list-style-type: none;
	// display: flex;
	display: grid;
	grid-gap: $indent__s;
	grid-template-columns: repeat(1, 1fr);

	@include from('small') {
		grid-gap: $columnGap;
		grid-template-columns: repeat(12, 1fr);
	}
}

.colspan-1 {
	grid-column: span 1;
}

.colspan-2 {
	@include from('small') {
		grid-column: span 2;
	}
}

.colspan-2 {
	// width: calc((100% / 12 * 3) - #{$columnGap / 2});

	@include from('small') {
		grid-column: span 3;
	}
}

.colspan-4 {
	// width: calc((100% / 12 * 4) - #{$columnGap / 2});

	@include from('small') {
		grid-column: span 4;
	}
}

.colspan-5 {
	// width: calc((100% / 12 * 5) - #{$columnGap / 2});

	@include from('small') {
		grid-column: span 5;
	}
}

.colspan-6 {
	// width: calc((100% / 12 * 6) - #{$columnGap / 2});

	@include from('small') {
		grid-column: span 6;
	}
}

.colspan-7 {
	// width: calc((100% / 12 * 7) - #{$columnGap / 2});

	@include from('small') {
		grid-column: span 7;
	}
}

.colspan-8 {
	// width: calc((100% / 12 * 8) - #{$columnGap / 2});

	@include from('small') {
		grid-column: span 8;
	}
}

.colspan-9 {
	// width: calc((100% / 12 * 9) - #{$columnGap / 2});

	@include from('small') {
		grid-column: span 9;
	}
}

.colspan-10 {
	// width: calc((100% / 12 * 10) - #{$columnGap / 2});

	@include from('small') {
		grid-column: span 10;
	}
}

.colspan-11 {
	// width: calc((100% / 12 * 11) - #{$columnGap / 2});

	@include from('small') {
		grid-column: span 11;
	}
}

.colspan-12 {
	// width: calc((100% / 12 * 12) - #{$columnGap / 2});

	@include from('small') {
		grid-column: span 12;
	}
}
