h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-family: var(--font-family--headings);
	margin-top: 0;
	margin-bottom: $indent__s;

	@include from ('small') {
		margin-bottom: $indent__s;
	}
}

h1 {
	font-size: $font-size-rel__h1;
}

h2 {
	font-size: $font-size-rel__h2;
}

h3 {
	font-size: $font-size-rel__h3;
}

h4 {
	font-size: $font-size-rel__h4;
}

h5 {
	font-size: $font-size-rel__h5;
}