h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-family: var(--font-family--headings);
	margin-top: 0;
	margin-bottom: $indent__s;
}

h1 {
	font-size: $font-size-rel__h1;
}

h2 {
	font-size: $font-size-rel__h2;
	+ .grid {
		margin-top: $indent__base; //override using margin collapse
	}

	@include from ('small') {

		+ .grid {
			margin-top: $indent__l; //override using margin collapse
		}
	}
}

h3 {
	font-size: $font-size-rel__h3;
}

h4 {
	font-size: $font-size-rel__h4;
}

h5 {
	font-size: $font-size-rel__h5;
}