button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	color: rgba(0, 0, 0, 0.8);
	line-height: 1;
	padding: 0.6em 1em 0.4em;
	cursor: pointer;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

.actions-wrapper {
	margin-top: $indent__l;
}

a, button, input[type="submit"], * {
	&.action {
		padding: $indent__xxs $indent__l;
		display: inline-block;
		width: auto;
		border-radius: $border-radius__base;
		border: $border;
		transition: background ease-in-out .2s;
		text-decoration: none;
		font-weight: $font-weight__bold;

		&--fill {
			background-color: $brand-color-1;
			border-color: $brand-color-1;
			
			&.action--light {
				color: $text-color--bright;
			}

			&.action--dark {
				color: $text-color--dark;
			}

			&:hover {
				background-color: $brand-color-1--shade;
				border-color: $brand-color-1--shade;
			}

			&--2 {
				background-color: $brand-color-2;
				border-color: $brand-color-2;

				&:hover {
					background-color: $brand-color-2--shade;
					border-color: $brand-color-2--shade;
				}
			}

			&--3 {
				background-color: $brand-color-3;
				border-color: $brand-color-3;

				&:hover {
					background-color: $brand-color-3--shade;
					border-color: $brand-color-3--shade;
				}
			}

			&--4 {
				background-color: $brand-color-4;
				border-color: $brand-color-4;

				&:hover {
					background-color: $brand-color-4--shade;
					border-color: $brand-color-4--shade;
				}
			}
		}

		&--outline {
			background-color: transparent;
			border-color: $brand-color-1;
			color: $brand-color-1;

			&:hover {
				border-color: $brand-color-1--shade;
				color: $brand-color-1--shade;
			}

			&--2 {
				border-color: $brand-color-2;
				color: $brand-color-2;

				&:hover {
					border-color: $brand-color-2--shade;
					color: $brand-color-2--shade;
				}
			}

			&--3 {
				border-color: $brand-color-3;
				color: $brand-color-3;

				&:hover {
					border-color: $brand-color-3--shade;
					color: $brand-color-3--shade;
				}
			}

			&--4 {
				border-color: $brand-color-4;
				color: $brand-color-4;

				&:hover {
					border-color: $brand-color-4--shade;
					color: $brand-color-4--shade;
				}
			}
		}

		&--text {
			border-color: transparent;
			color: $brand-color-1;

			&:hover {
				color: $brand-color-1--shade;
			}

			&--2 {
				color: $brand-color-2;

				&:hover {
					color: $brand-color-2--shade;
				}
			}

			&--3 {
				color: $brand-color-3;

				&:hover {
					color: $brand-color-3--shade;
				}
			}

			&--4 {
				color: $brand-color-4;

				&:hover {
					color: $brand-color-4--shade;
				}
			}
		}

		+ .action {
			margin-left: $indent__base;
		}
	}
}

.strip-button {
	display: flex;
	align-items: center;
	background-color: transparent;
	border-radius: 0;
	border: none;

	ion-icon {
		font-size: $font-size-rel__large;
	}

	span {
		padding-left: $indent__s;
	}
}

.input-button {
	border: none;
	background: transparent;
	padding: 0;
}