button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	color: rgba(0, 0, 0, 0.8);
	line-height: 1;
	padding: 0.6em 1em 0.4em;
	cursor: pointer;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

a, button, input[type="submit"], * {
	&.action {
		padding: $indent__xs $indent__s;
		display: inline-block;
		width: auto;
		border-radius: $border-radius__base;
		border: $border;
		transition: background ease-in-out .2s;
		text-decoration: none;

		&--primary {
			// Primary button
			background-color: $button-primary--bg-col;
			border-color: $button-primary--border-col;
			color: $button-primary--text-col;

			&:hover {
				background-color: $button-primary--bg-col--hover;
				border-color: $button-primary--border-col--hover;
			}
		}

		&--secondary {
			background-color: $button-secondary--bg-col;
			border-color: $button-secondary--border-col;
			color: $button-secondary--text-col;

			&:hover {
				background-color: $button-secondary--bg-col--hover;
				border-color: $button-secondary--border-col--hover;
			}
		}

		&--tertiary {
			background-color: $button-tertiary--bg-col;
			border-color: $button-tertiary--border-col;
			color: $button-tertiary--text-col;

			&:hover {
				background-color: $button-tertiary--bg-col--hover;
				border-color: $button-tertiary--border-col--hover;
			}
		}
	}
}

.strip-button {
	display: flex;
	align-items: center;
	background-color: transparent;
	border-radius: 0;
	border: none;

	ion-icon {
		font-size: $font-size-rel__large;
	}

	// border-left: $border;
	// border-right: $border;

	span {
		padding-left: $indent__s;
	}
}

.input-button {
	border: none;
	background: transparent;
	padding: 0;
}