$container-padding: $indent__xl;
$container-padding--xs: $indent__s;
$container-padding--xl: $indent__xxl;

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: $indent__s $container-padding--xs;

    + .container {
        margin-top: 0;
    }

    @include from ('small') {
        padding: $indent__base $indent__s;
    }

    @include from ('medium') {
        padding: $indent__base $container-padding;
    }

    p, blockquote, cite {
        max-width: $text-width;
    }

    &--xs {
        padding-bottom: $container-padding--xs;
        padding-top: $container-padding--xs;
    }

    &--xl {
        padding-bottom: $indent__base;
        padding-top: $indent__base;

        @include from ('small') {
            padding-bottom: $container-padding--xl;
            padding-top: $container-padding--xl;
        }
    }

    &--np {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.container-sup {
    // for items within containers with no padding
    padding-top: $indent__base;
    padding-bottom: $indent__base;

    &--xs {
        padding-bottom: $container-padding--xs;
        padding-top: $container-padding--xs;
    }
}